@import "./../../App.scss";

.profile {
  background-color: $maincolor;
  text-align: center;
  height:100vh;
  padding: 16px;
  color:$bordercolor;
  position: relative;

  .anticon{
    color:$bordercolor;
  }
  .btn{
    width:fit-content;
    margin: 0 auto;

  }
  .editbtn{
    position:absolute;
    margin:48px;
    top:0;
    right:0;
    border-radius: 100%;
    border:none;
    color:$bordercolor;
    background-color: $maincolor;
    box-shadow: 0px 0px 1px 1px rgba(136, 135, 135, 0.75);
    .icon{
      color:$green;
    }
  }
  .userProfile {
    padding: 16px;
    border-radius: 16px;
    border: 1px solid $secondcolor;
    background-color: $white;
    display: flex;
    flex-direction: column;
    gap: 8px;
    .admin a{
      color:$accentcolor;
    }

    .profilePicture {
        .ant-space{
            display: flex;
        flex-direction: column;
        .ant-space-item:nth-child(2){
            display:inline;
        }
        }
      .action-button {
        width: 140px;
        height: 140px;
      }
      .ant-btn-primary{
        background-color: $secondcolor;
        border-color:$bordercolor;
        color:$bordercolor;
      }

      img {
        border-radius: 100%;
        border: 2px solid $darkgreen;
        width: 140px;
        height: 140px;
      }
    }
    .profileName {
      .editName {
        font-size: 16px;
        font-weight: 700;
        color:$bordercolor;
      }
    }
    .profileEmail {
  
      color: $bordercolor;
    }
    .profileBio{
        border:1px solid $bordercolor;
        padding: 16px;
        width:75%;
        margin:0 auto;
        background-color: $maincolor;
        border-radius:16px;
        .editBio{
          color:$bordercolor;
        }
    }
    .logout{
  
      a{color:$darkblue;}
    }
  }
 .drawerbtn{
  width:75%;
  margin:0 auto;
  
  background-color: $secondcolor;
  border:none;
  height:48px;
  font-weight: 600;
  border-radius:12px;
  
 }
 
}

// Ant-design
div.ant-typography {
  margin: 0;
}
