@import "../../../../App.scss";
.comments {
  padding-bottom: 12rem;
  background-color: $maincolor;

  .ant-modal,
  .ant-modal-content {
    height: 100vh;
    width: 100vw;
    margin: 0;
    top: 0;
    // background-color: $red;
  }

  .button {
    display: flex;
    justify-content: center;
    .reviewBtn {
      margin: 16px;
      color: $bordercolor;
      width:100%;
  background-color: $secondcolor;
  border:none;
  height:48px;
  font-weight: 600;
  border-radius:12px;
    }
  }

  .commentbody {
    padding: 16px;
   

    .userName {
      color: $bordercolor;
      font-weight: 600;
    }
    .userComment {
      color: $bordercolor;
    }
  }
}
