.home{
    border:2px solid pink;
}

.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    &::-webkit-scrollbar {
        display: none;
      }

    .card {
      display: inline-block;
      width:30rem;
      height:30rem;
      background-color: red;
      margin: 2rem;
    }
  }

