@import "../../App.scss";

.fullscreenMap {
  position: relative;
  .btn {
    position: absolute;
    z-index: 9999;
    top: 0;
    right: 0;
    z-index: 9999;
    width: 32px;
    height: 32px;
    margin: 16px;
    background-color: $maincolor;
    box-shadow: 0px 0px 4px 2px rgba(136, 135, 135, 0.75);
    border-radius: 100%;
    text-align: center;
    .icon {
      color: $bordercolor;
      margin-right: 0px;
      font-size: 20px;
      border-radius: 100%;
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
    }
  }
}

.routeDetail {
  .icon {
    color: $bordercolor;
    margin-right: 8px;
  }

  .value {
    color: $bordercolor;
    font-weight: 300;
  }

  .routeInfo {
    .icon {
      color: $accentcolor;
    }

    .value {
      color: $bordercolor;
    }
  }

  .header {
    background-color: $maincolor;
    position: relative;

    .backBtn {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 99;
      width: 32px;
      height: 32px;
      margin: 16px;
      background-color: $maincolor;
      box-shadow: 0px 0px 4px 2px rgba(136, 135, 135, 0.75);
      border-radius: 100%;
      text-align: center;

      .icon {
        color: $bordercolor;
        margin-right: 2px;
        font-size: 18px;
        border-radius: 100%;
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
      }
    }

    .fullscreenBtn,.likeBtn {
      position: absolute;
      right: 0;
      z-index: 99;
      width: 32px;
      height: 32px;
      margin: 16px;
      color:$bordercolor;
      background-color: $maincolor;
      box-shadow: 0px 0px 4px 2px rgba(136, 135, 135, 0.75);
      border-radius: 100%;
      text-align: center;

      .icon {
        color: $bordercolor;
        margin: 0 auto;
        font-size: 20px;
        border-radius: 100%;
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
      }
    }
    .likeBtn{
        bottom:0;
        margin: 32px 16px;
        .icon {
            color: $likecolor;
            margin: -4px auto 0;
            font-size: 18px;
            border-radius: 100%;
            position: relative;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
          }
    }
    .ant-btn:hover, .ant-btn:focus {
        color: $bordercolor;
        border-color: $secondcolor;
        background: #fff;
    }

    .picture {
      .gradient {
        position: absolute;
        width: 100%;
        height: 102%;

        background: rgb(255, 255, 255);
        background: linear-gradient(180deg, $transparent 70%, $maincolor 97%);
      }

      img {
        width: 100%;
        height: 320px;
        object-fit: cover;
        object-position: center;
      }
    }
  }

  .routeDetails {
    margin-top: -4px;
    border: 2px solid $maincolor;
    background-color: $maincolor;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;

    .name {
      font-size: 24px;
      font-weight: 700;
      color: $bordercolor;
      margin: 16px;
      width: 65%;
      font-family: $accentfont;
    }

    .rating {
      margin: 16px 12px;
      color: $bordercolor;

      .stars {
        color: $bordercolor;
      }

      .reviews {
        color: $bordercolor;
      }
    }
  }

  .routeInfo {
    border-radius: 24px 24px 0px 0px;
    padding: 8px 0;
    border:1px solid $bordercolor;
    border-bottom:none;
    background-color: $maincolor;
    margin-top: -24px;

    .typeAndTime {

      display: flex;

      margin: 8px 16px;
      justify-content: space-between;

      .routeTopic {
       
        font-weight: 700;
      }
    }

    .startAndFinish {
      margin: 0 16px;
      display: flex;
      align-items: center;
      gap: 16px;

      .left img {
        width: 160px;
        height: 110px;
        border-radius: 8px;
      }

      .start,
      .finish {
        display: block;
        margin: 12px 0;
        font-weight: 500;
        color: $bordercolor;
      }

      .location {
        font-weight: 300;
        margin-top: 4px;
        color: $bordercolor;
      }
    }
  }

  .routeDescription {
    padding: 16px;
    padding-bottom: 5rem;
    color: $darkgray;
    background-color: $maincolor;
  }

  .routePois {
    padding: 16px;
    padding-bottom: 5rem;
    background-color: $maincolor;
  }

  // Ant-Design Re-Styling

  //background of tab
  .ant-tabs-nav-wrap {
    background-color: $maincolor;
  }

  // Tabs
  .ant-tabs-tab-btn {
    color: $bordercolor;
  }

  //  Tabs active
  .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: $accentcolor;
  }

  // tabs bottom
  .ant-tabs-ink-bar {
    height: 5px;
    background: $accentcolor;
  }

  .ant-tabs-top > .ant-tabs-nav {
    margin: 0;
  }
}
.ant-modal-wrap {
  z-index: 1002;
}
.ant-modal,
.ant-modal-content {
  height: 100vh;
  width: 100vw;
  margin: 0;
  top: 0;
  background-color: $maincolor;
}

.ant-modal-header {
  background-color: $maincolor;

  .ant-modal-title {
    color: $bordercolor;
  }
}

.ant-modal-body {
  height: calc(100vh - 110px);
  padding: 0;
  background-color: $maincolor;
}

.overMap {
  z-index: 1001;
}
