.comment-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    
}

.write-a-comment{
    display: flex;
    justify-content: center;
}
.form {
       display: flex; 
    
}
.button:hover{
    background-color: green;

}
