@import "../../../../../App.scss";

.modalBox{
    padding:24px;

.form {
       display: flex; 

       .rating{
        margin:16px 0 0;
       }
       .review-form-button{
        color:$maincolor;
        height:48px;
        font-weight: 700;
        background-color: $secondcolor;
        border-radius:12px;

        
       }
    
}
.valorarbtn{
    width:100%;
    background-color: $secondcolor;
  border:none;
  height:48px;
  
  border-radius:12px;
  a{color:$bordercolor;
  font-weight: 600;
 }

}
.button:hover{
    background-color: $accentcolor;
    color:$bordercolor;

}

}