@import "../../../../../App.scss";

.modalBox{



.form {
       display: flex; 

       .rating{
        margin:16px 0 0;
       }
       .review-form-button{
        color:$white;
        height:48px;
        font-weight: 700;
        background-color: $darkgreen;
        border-radius:16px;


       }
    
}
.button:hover{
    background-color: green;

}

}