@import "antd/dist/antd.css";

/* COLOR VARIABLES */
$lightgreen:#c3d4d4;
$green:#60A491;
$darkgreen:#4f7d6d;
$white:#fff;
$gray:#e8e8e8;
$darkgray:#404c47;
$black:#000;
$blue: rgb(57, 113, 142);
$red: red;
$transparent: rgba(255, 255, 255, 0);