// ant design 
@import "antd/dist/antd.css";

// google fonts
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');


$mainfont: 'Inter', sans-serif;
$accentfont: 'Noto Serif', serif;
$logofont:'Abril Fatface', cursive;

/* COLOR VARIABLES */


$maincolor:#ffffff;
$secondcolor:#e8e8e8;
$accentcolor:#60A491;
$bordercolor:#404c47;
$likecolor:#dd586e;

$lightgreen:#c3d4d4;
$green:#60A491;
$darkgreen:#4f7d6d;
$white:#fff;
$offwhite:#eeeeee;

$gray:#e8e8e8;
$darkgray:#404c47;
$black:#000;
$darkblue:#1d5977;
$blue: #39718e;
$lightblue:#9CB8C7;
$red: red;
$transparent: rgba(255, 255, 255, 0);